In [17]:
import pandas as pd
import numpy as np
df = pd.read_csv("Employee_Database.csv")

In [18]:
df

,Name,Age,Gender,JobRole,Experience,WorkHoursPerWeek,RemoteRatio,SatisfactionLevel,StressLevel,Burnout
0,Max Ivanov,32,Male,Analyst,3,60,21,4.40,1,0
1,Max Wang,40,Female,Engineer,9,47,67,2.09,2,0
2,Nina Petrov,33,Female,Engineer,2,44,20,2.58,3,0
3,John Ivanov,35,Female,Manager,6,44,70,3.23,8,0
4,John Wang,59,Male,Sales,8,38,46,4.41,1,0
...,...,...,...,...,...,...,...,...,...,...
1995,Leo Brown,41,Female,Manager,4,63,17,3.40,4,0
1996,Alex Brown,23,Female,HR,2,39,20,4.67,9,0
1997,Nina Wang,31,Female,HR,10,39,4,4.10,4,0
1998,Kate Lee,25,Male,HR,0,40,57,2.11,4,0
1999,Lily Petrov,49,Female,Engineer,13,65,22,4.36,8,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               2000 non-null   object
 1   Age                2000 non-null   int64
 2   Gender             2000 non-null   object
 3   JobRole            2000 non-null   object
 4   Experience         2000 non-null   int64
 5   WorkHoursPerWeek   2000 non-null   int64
 6   RemoteRatio        2000 non-null   int64
 7   SatisfactionLevel  2000 non-null   float64
 8   StressLevel        2000 non-null   int64
 9   Burnout            2000 non-null   int64
dtypes: float64(1), int64(6), object(3)
memory usage: 156.4+ KB

In [20]:
df.describe()

,Age,Experience,WorkHoursPerWeek,RemoteRatio,SatisfactionLevel,StressLevel,Burnout
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000
mean,40.694500,10.074500,49.588000,49.973000,2.995230,5.43200,0.064500
std,11.286756,9.148267,11.832424,29.151298,1.155431,2.88089,0.245703
min,22.000000,0.000000,30.000000,0.000000,1.000000,1.00000,0.000000
25%,31.000000,3.000000,39.000000,24.000000,2.000000,3.00000,0.000000
50%,41.000000,7.000000,49.000000,49.000000,3.025000,5.00000,0.000000
75%,50.000000,15.000000,60.000000,75.000000,4.000000,8.00000,0.000000
max,60.000000,39.000000,70.000000,100.000000,5.000000,10.00000,1.000000

In [5]:
df.columns   #number of columns in this file

Index(['Name', 'Age', 'Gender', 'JobRole', 'Experience', 'WorkHoursPerWeek',
       'RemoteRatio', 'SatisfactionLevel', 'StressLevel', 'Burnout'],
      dtype='object')

In [6]:
df.Burnout

0       0
1       0
2       0
3       0
4       0
       ..
1995    0
1996    0
1997    0
1998    0
1999    0
Name: Burnout, Length: 2000, dtype: int64

In [7]:
df['Burnout'].unique()

array([0, 1])

In [8]:
df['Burnout'].nunique()

2

In [9]:
df[df['Age'] >= 50]

,Name,Age,Gender,JobRole,Experience,WorkHoursPerWeek,RemoteRatio,SatisfactionLevel,StressLevel,Burnout
4,John Wang,59,Male,Sales,8,38,46,4.41,1,0
11,Max Wang,55,Male,HR,11,59,14,4.73,10,0
12,Nina Chen,55,Male,Manager,11,34,1,1.69,2,0
13,Lily Wang,53,Female,Sales,26,57,55,4.59,8,0
17,Max Ivanov,60,Female,Sales,21,52,5,1.60,1,0
...,...,...,...,...,...,...,...,...,...,...
1965,Leo Johnson,56,Male,Analyst,11,52,5,1.38,5,0
1968,John Garcia,53,Male,HR,26,43,59,3.17,5,0
1973,Alex Lee,52,Male,HR,10,49,86,4.98,10,0
1982,John Lee,54,Female,Manager,30,57,47,2.79,10,1
1985,Dina Kim,50,Male,HR,27,57,32,4.07,4,0

In [10]:
df[df['Experience'] >= 10].min()
#df[df['Experience'] >= 23].max()

Name                 Alex Brown
Age                          31
Gender                   Female
JobRole                 Analyst
Experience                   10
WorkHoursPerWeek             30
RemoteRatio                   0
SatisfactionLevel          1.01
StressLevel                   1
Burnout                       0
dtype: object

In [11]:
df[df['SatisfactionLevel'] == 1.80]

,Name,Age,Gender,JobRole,Experience,WorkHoursPerWeek,RemoteRatio,SatisfactionLevel,StressLevel,Burnout
451,Kate Petrov,22,Female,Manager,1,47,5,1.8,5,0
1265,Max Ivanov,49,Female,Sales,24,68,98,1.8,4,0
1482,Lily Chen,54,Male,Sales,30,61,37,1.8,8,1

In [12]:
df[(df['SatisfactionLevel'] == "hr-Burnout") & (df["SatisfactionLevel"] >= 4.67)]

Empty DataFrame
Columns: [Name, Age, Gender, JobRole, Experience, WorkHoursPerWeek, RemoteRatio, SatisfactionLevel, StressLevel, Burnout]
Index: []

In [13]:
our_array = np.random.randn(200,5)
our_array

array([[ 1.84561342e-01,  5.41232651e-04,  1.05560168e+00,
         1.20176100e+00, -1.58333914e-01],
       [ 3.51137112e-01, -4.95574410e-02,  8.24965237e-01,
        -1.08750868e+00, -5.04493375e-01],
       [-1.22108200e+00,  2.10630015e-01, -7.57332258e-01,
         1.13307018e+00, -1.17528559e+00],
       [-4.36366785e-01, -7.00764845e-01,  8.17310271e-01,
        -1.95859837e+00,  9.81397079e-01],
       [ 2.03129046e-01,  2.33531793e+00, -2.44493885e-01,
         6.74659992e-01,  7.42883470e-01],
       [-4.91622759e-01, -3.18772111e-01,  1.88935544e+00,
         1.05181504e+00,  1.28452651e+00],
       [ 3.64322103e-01,  7.42295210e-01,  1.24831756e+00,
         2.84241123e-01,  1.18805443e+00],
       [ 3.83419001e-02, -9.96004979e-01,  2.94905387e-01,
         3.25831625e-01, -7.85047011e-02],
       [-6.80208379e-01,  3.24107673e-02,  1.70138432e-01,
        -2.73794208e+00, -8.21751951e-01],
       [ 5.69874386e-01, -1.76257475e+00, -8.10132205e-01,
        -5.55512682e-01, -1.44353918e+00],
       [ 2.16239246e-01, -7.63350204e-01, -7.75734768e-01,
        -1.49330665e+00,  1.58809167e-01],
       [-4.33104355e-03,  1.42160486e-01, -2.16643192e-01,
        -2.63431517e-01,  1.18201138e+00],
       [-1.80011784e-01, -1.47834582e-01, -7.04826449e-01,
        -9.05533234e-01,  1.24516521e+00],
       [-8.73424071e-01, -1.92510556e+00,  5.17861685e-01,
        -8.66633685e-01, -1.07174421e+00],
       [ 5.00927608e-01,  3.29285628e-01,  1.25091353e-01,
         1.33778793e+00, -2.40760996e-01],
       [ 5.11192737e-01,  3.38496815e-02, -6.76015407e-01,
         4.66664451e-01, -8.48938095e-01],
       [-1.08586670e+00, -4.03296132e-01,  1.70853190e+00,
        -7.96422503e-01,  2.50247787e+00],
       [-1.41934397e-01,  1.67782154e+00,  4.67439470e-01,
         2.21574498e-01, -1.73172932e-02],
       [-2.68349266e-01, -1.86887699e-01, -5.02121681e-02,
        -3.57000708e-02,  1.15665079e-01],
       [ 7.44978420e-01, -1.80104615e-01,  6.27273608e-01,
         6.23734335e-01, -7.89586139e-01],
       [-3.54596464e-01, -2.10205636e+00,  3.38185641e-01,
        -1.84464037e-01, -1.09778901e+00],
       [-4.27137332e-01,  8.52165431e-01, -6.21781880e-01,
        -9.99249999e-02,  3.27505189e-01],
       [-7.08108106e-02, -5.32668085e-01,  4.53445739e-02,
         1.52764327e+00, -5.57702529e-01],
       [ 3.09721438e-01,  7.49782695e-01,  4.32537049e-01,
        -3.10607306e+00,  5.43108951e-01],
       [-4.08212684e-01, -2.09473737e-01,  2.98736939e-01,
         1.40337807e+00, -9.75645921e-01],
       [ 6.98136116e-01,  2.11797884e+00,  2.97524716e-02,
        -2.71878165e-01,  9.94506951e-01],
       [-8.65960774e-01,  2.65924252e+00, -2.80634710e+00,
         6.56703780e-01, -2.45614322e-01],
       [ 3.22745417e-01, -9.16410399e-01,  5.37955773e-01,
         1.36849185e+00,  1.32795638e+00],
       [-2.04526036e-01,  8.34162367e-01,  1.85757840e+00,
        -4.43972582e-01,  1.12573945e+00],
       [ 1.79429615e+00, -2.04953702e-01, -3.89444337e-01,
         1.59960365e+00,  1.09143396e+00],
       [ 3.49158117e-01, -1.14211115e+00,  5.83872995e-01,
        -9.01314823e-01,  7.39509957e-01],
       [-1.56873836e+00,  1.54887112e+00, -4.23764901e-01,
        -1.71805449e+00,  1.25906081e+00],
       [ 4.86918154e-01, -8.11759114e-01,  1.54013067e+00,
        -2.62280555e-01, -1.93930530e-01],
       [ 7.77872674e-01,  9.31376607e-01,  1.44186520e+00,
         4.75422449e-01,  1.32776671e+00],
       [ 4.02426520e-01, -7.17444275e-01, -1.46925539e+00,
        -1.75170846e+00, -9.98081122e-02],
       [-1.14989935e+00, -1.70732460e+00, -1.38932120e-02,
        -7.22051214e-01,  7.94283895e-01],
       [-2.70854452e-01,  8.76301833e-01, -1.63101717e+00,
         9.03796225e-02, -1.70851342e+00],
       [ 6.70784040e-01, -1.53554147e+00, -8.39877434e-01,
        -2.24939268e-01, -1.08431733e+00],
       [ 7.63596774e-02, -7.27325360e-01, -4.59877635e-01,
        -1.85772181e+00,  1.13295121e+00],
       [-2.90034075e-01,  1.00872885e+00,  9.14938033e-01,
        -2.72274554e+00, -1.25269232e+00],
       [ 6.14792328e-01, -5.13373797e-01,  7.59136025e-01,
        -5.94989257e-01,  4.01394778e-01],
       [-8.77052061e-01,  1.05730598e+00, -1.95531017e+00,
         2.81325995e-01,  6.77934419e-03],
       [ 1.67876397e+00,  6.98117312e-01,  7.14493769e-01,
         3.42254930e-01, -1.48341237e+00],
       [-6.30413854e-01, -4.66242675e-02,  2.32599381e+00,
        -5.57541761e-01, -1.93357833e+00],
       [ 1.35031609e+00,  1.06692516e+00, -9.58255299e-01,
         8.38998807e-01,  3.76546752e-01],
       [-1.13647832e+00, -2.05337267e+00, -6.92024521e-01,
         9.83316950e-01, -3.45446705e-01],
       [-3.71582945e-02,  9.43631685e-01, -6.49934217e-01,
         9.33671397e-01, -4.00453578e-01],
       [-1.50158448e+00,  2.92644184e-01,  1.36236196e-01,
         5.49613540e-01,  6.78415882e-01],
       [-6.39711537e-01, -1.02614129e+00,  7.54363548e-02,
        -2.13148272e-02,  6.80206809e-01],
       [-7.77510739e-01,  9.45802054e-01,  1.09383707e+00,
        -9.34502585e-01,  1.05453877e+00],
       [ 5.21115589e-01, -7.22870586e-01,  4.95027980e-01,
         4.58372613e-01,  1.70401472e+00],
       [ 1.94304823e-01,  5.79424027e-01,  6.55038833e-01,
        -8.09357582e-01,  2.17091767e+00],
       [ 5.92820891e-01,  9.76274791e-01, -7.90687707e-01,
        -2.40044432e+00, -1.30111575e-01],
       [-6.71989365e-01,  1.28046494e+00, -1.96520868e+00,
        -1.95499422e+00, -1.20033237e+00],
       [ 5.12438330e-02,  4.24486728e-01, -1.40648458e+00,
         3.47779051e+00, -4.35396834e-01],
       [-3.35506811e-01, -6.53676197e-01,  4.10674075e-01,
        -1.16068298e+00,  1.05317810e-01],
       [-2.37506391e-01,  1.05874038e+00, -1.22447291e+00,
        -7.20675829e-01, -5.90448134e-01],
       [ 9.59544863e-02, -2.15123054e-01, -9.07829429e-02,
         1.08740424e+00, -8.30156394e-02],
       [ 5.71830706e-01,  1.79746276e+00,  5.86755679e-01,
         7.86195686e-01, -4.66047339e-01],
       [ 4.92899483e-01,  1.34784026e+00,  4.80780959e-01,
         2.79590140e+00, -3.22632550e-01],
       [ 1.73737524e+00,  6.46902795e-01,  1.29320021e-01,
        -6.90846172e-01,  8.67928135e-01],
       [ 3.49458303e-01, -6.12982816e-02,  7.09168597e-01,
         1.74045353e-01,  1.95716961e-01],
       [-3.97020318e-01,  2.15261297e-01,  1.81812709e-01,
         1.83916002e+00, -1.02020889e+00],
       [-7.46804835e-01,  8.66436952e-01,  1.99153983e-01,
        -9.07337914e-01, -2.72757988e+00],
       [ 1.31429734e+00, -7.65880147e-01,  1.12676254e-01,
        -1.12074131e+00,  8.40214868e-01],
       [ 6.18671692e-02,  8.31239745e-01, -2.14011935e+00,
        -1.61185016e+00,  1.14000959e+00],
       [-2.14696543e+00,  8.83093910e-01, -5.13851714e-01,
         1.39344480e-01, -1.64557120e+00],
       [-1.07136457e-01,  5.96763157e-01, -6.03604076e-01,
        -2.02750837e-01,  3.32720389e+00],
       [-2.39944883e-02, -5.29670788e-02,  1.19524694e+00,
        -6.69259672e-01,  6.93102660e-01],
       [-8.98023271e-01, -1.69253572e+00, -1.15032033e-01,
        -1.81420205e+00, -3.97884605e-01],
       [ 1.18856516e+00, -4.77966722e-01,  1.47929372e+00,
         7.95135662e-01, -5.64693137e-01],
       [-3.98654079e-02, -9.52075674e-01, -1.31053700e+00,
        -6.07321334e-01, -9.86246989e-01],
       [-1.91528819e+00,  2.14478349e-01,  1.53119638e+00,
        -6.34387867e-01,  9.96864235e-01],
       [-2.84610890e-01, -8.91285953e-01, -1.00397310e-01,
        -4.25579156e-01, -4.94379865e-01],
       [ 4.66462433e-01,  6.98588774e-01,  1.63950156e-02,
        -9.27850124e-01,  1.14170895e+00],
       [-9.86475036e-01,  5.23849200e-01,  1.07820677e+00,
         3.02137383e-01, -2.37967320e+00],
       [-2.30286821e-01, -3.77361767e-01, -6.30831321e-01,
         3.44719943e-01, -8.80648859e-01],
       [-2.00958190e+00, -6.96730226e-01,  6.86641570e-01,
        -2.93150199e-02,  4.11747011e-01],
       [ 4.54681121e-01,  1.69157256e-01,  1.26373755e+00,
        -9.16321243e-01,  8.25935299e-01],
       [ 3.53377326e-04, -1.24148364e+00,  9.19388568e-02,
        -1.71860722e+00, -1.28263360e+00],
       [ 3.66091709e-01,  1.14398465e+00,  1.42670309e+00,
        -2.74955173e-01,  9.35572741e-01],
       [-5.46536902e-01, -6.09708620e-01, -3.15317640e+00,
         1.80707573e+00,  1.26336848e-01],
       [-2.11612186e-01,  3.46844903e-01,  6.84898267e-01,
         5.37722973e-01, -7.19362521e-01],
       [-1.05870830e+00, -6.58832086e-01,  2.58155064e-01,
        -6.85076943e-01,  1.03161229e+00],
       [ 2.39127039e+00, -8.24835029e-01, -9.25943936e-01,
        -4.33071053e-01,  1.26437966e+00],
       [ 8.20437289e-01, -1.38032819e+00,  1.13934041e+00,
        -2.10668624e+00, -3.87495148e-01],
       [-1.54275590e+00,  1.01582077e-01, -1.05105121e+00,
         5.17103823e-01, -9.62813173e-01],
       [-1.75752033e+00, -2.70300630e+00, -1.49317778e+00,
         2.07525109e-01,  6.72558565e-01],
       [-2.35988365e-02, -1.57414829e+00,  1.56684376e-01,
        -2.20246299e+00,  1.76495449e-01],
       [-1.69780260e-01, -2.73229373e-01,  1.56110481e+00,
        -1.03446682e-01,  4.34142574e-01],
       [ 3.82805049e-01,  1.58184874e+00, -7.12004348e-01,
        -2.42934846e+00,  4.69350399e-01],
       [-1.37007129e-01, -6.50211134e-01,  4.39258066e-02,
        -5.25027733e-01,  5.94802385e-01],
       [ 6.27602893e-01, -6.29532815e-01, -1.74278801e+00,
        -6.16159683e-01, -4.62623086e-01],
       [-1.61602210e+00, -2.60822911e-01,  4.21247753e-01,
        -4.55597147e-01, -1.05609464e+00],
       [-6.96092342e-01,  6.14929337e-01,  1.23965109e+00,
        -2.77441927e-01, -8.01282076e-01],
       [ 3.09280776e-01,  1.36395635e+00,  1.21519141e+00,
        -6.96140816e-01,  1.50657875e+00],
       [ 2.39688442e-02, -5.59077518e-01,  2.58343855e-01,
         9.63311455e-01, -2.13669015e+00],
       [-1.53420484e+00, -1.34416229e+00,  6.57560361e-01,
        -1.14570610e+00,  1.22457295e+00],
       [ 6.44143497e-01, -5.79971801e-01, -2.24847784e+00,
         7.74326444e-01, -7.06016161e-02],
       [-1.12549063e+00, -5.40865118e-01,  2.00453689e-01,
         5.83539492e-01, -1.64420978e+00],
       [ 3.22510301e-01,  1.91860245e+00, -4.54813826e-01,
        -1.07415360e+00,  9.91122036e-01],
       [-1.60816423e-01,  3.83858391e-01,  9.30915791e-01,
        -5.85873244e-01, -7.73764560e-01],
       [ 6.92367702e-01,  6.18788294e-02, -1.37418995e+00,
        -8.29603688e-01,  2.23402348e-01],
       [ 1.35288899e-01,  1.24031716e+00,  4.67803314e-01,
         8.47977170e-01,  6.07379163e-01],
       [ 2.49877389e-01, -1.34196626e-01, -3.28000739e-01,
        -5.02319928e-01,  7.96378698e-02],
       [-7.86283986e-01,  2.52320943e-02, -2.38426639e-02,
        -3.77935713e-01,  1.97791591e+00],
       [ 1.80010188e+00, -8.90889264e-01, -3.28549773e-01,
        -4.45022548e-02,  8.13266618e-01],
       [ 1.07939154e+00,  3.21527736e-01, -1.51155669e+00,
         4.85324455e-01, -1.71086246e+00],
       [-7.25358954e-02, -4.59886452e-01, -3.86650845e-02,
        -9.65755323e-01, -1.07251807e+00],
       [ 8.86437125e-01, -9.61545849e-01, -1.59729993e-01,
         9.09938603e-02, -2.67771392e-01],
       [ 3.80364542e-01,  6.12899293e-01, -2.96309048e-01,
        -1.00880082e+00,  1.77648387e-01],
       [ 1.53146945e+00, -7.85221726e-01,  4.40792320e-04,
         1.30311529e-02, -1.72810765e+00],
       [-9.77520407e-01, -3.84634681e-01,  1.12401240e+00,
         1.07566817e+00,  1.95049734e+00],
       [-1.79480453e+00,  9.36034739e-02,  1.89049779e+00,
         1.30544888e+00,  9.50487286e-01],
       [-5.83300573e-01, -1.50443588e+00,  6.84615928e-01,
        -1.01028223e+00, -4.17231781e-01],
       [-3.76923296e-01,  1.37150910e+00,  2.28482934e-01,
         2.12788777e+00,  4.51455204e-01],
       [ 3.96681759e-01, -1.11011217e+00, -8.92208149e-01,
         1.53867785e+00,  1.66134300e+00],
       [-2.72225157e-01,  5.55500709e-01,  1.93619089e-01,
        -7.70815801e-01,  8.91718873e-01],
       [-7.23664700e-01,  1.23797220e-01, -1.30908796e+00,
        -5.80108943e-01, -9.18607876e-01],
       [-1.11712430e+00, -5.82201585e-01,  1.33613627e+00,
        -1.08296625e-03,  7.06187613e-01],
       [ 1.66686711e+00, -1.13658174e+00,  1.01208085e-01,
         3.77575467e-01,  6.73846733e-01],
       [ 8.08586073e-01, -9.08899355e-01, -1.15540514e+00,
         1.64575334e-01, -5.97248638e-01],
       [-1.65722084e+00, -2.72970598e-01, -8.46591410e-02,
         1.66999186e+00,  6.36751356e-01],
       [ 1.23552407e+00,  4.54514360e-01, -8.58245957e-02,
        -2.81309929e-01, -3.17729141e+00],
       [-1.47978053e+00,  7.36791032e-01,  1.84579905e-01,
         1.31343964e+00, -7.20128345e-01],
       [ 3.14338925e-01,  2.73894759e-01, -1.57314399e-01,
         1.51299153e+00, -2.44296531e-01],
       [-1.33649588e+00, -3.87770918e-02, -5.73060007e-02,
        -9.41634491e-01,  5.59545421e-01],
       [ 2.34598533e+00,  4.95177567e-01,  8.39913532e-01,
        -1.31361818e-01, -2.92795640e-01],
       [-4.56248529e-01, -1.34770565e+00, -4.24854824e-01,
        -5.21760149e-01, -3.02508906e-02],
       [ 1.85182864e-01,  6.49567325e-03,  4.24101769e-01,
         4.53926882e-01,  3.36435187e-01],
       [-1.06629983e+00, -1.06700453e+00, -3.95871485e-01,
        -1.90316746e-01, -7.52075531e-01],
       [ 1.88067024e+00,  1.65464870e+00, -6.78652415e-01,
        -1.66663921e-01, -1.33648219e+00],
       [-1.14771767e+00, -4.21066759e-01,  1.46123721e+00,
        -5.16118130e-01, -1.71847091e-02],
       [-1.95869853e+00, -1.75472537e+00, -1.54043548e-01,
         2.47247499e+00,  4.63663960e-01],
       [ 1.53637737e+00,  4.88831646e-01,  1.30510258e+00,
         1.26366735e-01,  6.55388115e-01],
       [ 4.53320710e-01, -3.70551500e-01, -2.89435703e-01,
         1.92642390e+00, -1.39873154e-01],
       [-2.91355517e-01, -2.76439172e+00,  1.48713641e+00,
        -5.97685702e-01,  9.97283529e-01],
       [ 5.82200857e-01,  2.58820858e-01,  2.43997685e-01,
        -1.84744756e+00,  5.07911988e-01],
       [ 7.54165337e-01,  2.03753848e-01, -9.79679276e-01,
        -4.70663450e-01,  1.55696230e+00],
       [-2.66489228e+00,  1.65742334e+00,  6.41907187e-01,
        -1.31430899e+00,  8.35758064e-01],
       [ 1.15952566e-01,  2.25259830e+00, -2.20610390e+00,
        -5.67505241e-01, -4.95234165e-01],
       [-8.88224757e-01, -1.39380945e+00,  2.09112619e+00,
        -5.97615047e-01,  3.68808478e-01],
       [ 7.91214713e-01, -8.95903249e-01,  6.19060450e-01,
        -1.56138223e+00, -2.94424311e-01],
       [ 5.76247286e-01,  3.31309758e-01,  2.18859627e+00,
         1.58736591e+00, -2.12288091e+00],
       [ 6.86185535e-01, -2.68229915e+00,  7.55996948e-01,
         7.95669139e-01,  1.15721901e+00],
       [ 5.75169914e-01,  4.59430310e-01, -4.39282613e-01,
        -9.69122286e-01, -9.09553125e-01],
       [ 1.20143282e+00,  9.41321382e-01, -8.11546404e-02,
         4.77507567e-01, -3.41923115e-01],
       [ 2.91107269e-01,  7.01014347e-01,  7.85821712e-01,
         4.24984068e-01, -4.75998241e-01],
       [ 3.70019351e-01,  7.09959666e-01, -1.39509336e+00,
        -3.50229892e-01,  1.27184631e+00],
       [ 3.49317969e-01, -4.36878721e-01,  5.01296416e-01,
        -2.86179906e-01,  3.83672781e-01],
       [-4.56113252e-01, -5.36577088e-01,  1.49787176e-01,
         1.21032616e-01,  2.06552528e+00],
       [ 2.10650348e+00,  1.24216739e+00, -2.36452204e-01,
        -7.18757324e-01, -9.07828721e-01],
       [ 1.23602211e-01, -7.36362342e-01,  1.33451745e+00,
        -3.27634335e-01,  1.18279359e+00],
       [ 1.54648419e+00, -9.84404256e-01,  1.92718232e+00,
        -1.60096786e+00, -5.92684967e-01],
       [-5.32566641e-01, -1.12227964e+00, -4.37128421e-01,
        -2.71880807e-01, -1.61107961e+00],
       [-6.69215748e-02,  4.73646963e-01, -6.45673149e-01,
        -5.77027284e-01,  1.02761569e+00],
       [ 1.78237697e+00,  1.29829710e+00, -5.35055608e-01,
         6.42945972e-01, -1.46170951e+00],
       [-3.25309973e-01,  1.03552344e+00, -1.88124708e+00,
         2.09609094e+00,  8.61198989e-01],
       [ 8.78389274e-02, -9.64926652e-01,  3.13640018e-01,
         1.58256347e+00,  7.03311644e-01],
       [-5.36518763e-01,  8.24531753e-02,  2.89692848e+00,
        -7.69176391e-01, -6.02421333e-01],
       [ 1.34128980e+00, -2.36644068e+00, -1.24575599e+00,
         4.73890491e-01,  6.07718578e-01],
       [ 8.09162759e-01,  4.19202897e-01, -6.02422958e-01,
        -5.43821724e-01,  1.12711162e+00],
       [-6.40994263e-01,  5.96975996e-03, -7.92434745e-01,
         7.99341391e-01,  1.91489336e-01],
       [-1.66782774e+00, -9.19986195e-01,  1.20352975e+00,
         5.04797057e-01, -3.29186600e-01],
       [ 2.34453563e+00, -2.01403469e-01,  3.55420209e-01,
         4.32322414e-01,  7.82026007e-01],
       [-2.85014870e-02, -6.69944341e-01, -1.53170718e-01,
        -5.59077672e-01, -1.05408117e+00],
       [ 9.33494239e-02, -8.50586508e-02,  7.48051724e-01,
        -1.74764896e+00, -2.17253578e-01],
       [ 1.74835225e+00, -1.62852816e+00,  6.13819554e-01,
        -7.39514198e-01,  5.67881620e-01],
       [-8.62134116e-01,  6.84270856e-01,  3.98954629e-01,
        -2.65158459e-01, -6.67980769e-01],
       [ 4.76757256e-01, -5.24088614e-02,  3.44256272e-01,
        -8.66886119e-01,  1.00948180e+00],
       [ 8.93702255e-01, -1.14491280e+00,  2.15555667e+00,
        -3.21656477e-02, -5.63819598e-01],
       [ 2.37523800e+00, -6.97147627e-01, -9.07985176e-02,
         2.58807580e+00,  3.94724274e-01],
       [ 8.47445414e-01, -8.16280209e-01, -1.10844808e-01,
         1.85666527e+00, -5.31075567e-01],
       [-2.86090150e-01,  2.03997124e-01, -1.53091776e+00,
        -6.44084884e-01,  1.84233590e-01],
       [ 7.32646636e-01, -1.92264228e-01, -6.91165187e-01,
         2.39572452e-01,  8.41631664e-01],
       [-6.02159366e-01, -8.18489097e-01, -4.67800742e-01,
        -1.50099622e+00,  1.17447791e+00],
       [ 1.23642638e+00,  7.58132317e-01,  2.72213913e-01,
         6.87246561e-01, -6.73734237e-01],
       [-2.49011910e-01,  4.87399753e-02, -1.07325785e+00,
        -9.09298624e-02,  1.42440787e+00],
       [-5.30171839e-01, -1.13203050e+00, -4.96893360e-02,
        -1.35322604e+00, -4.75422235e-01],
       [ 6.43018564e-01,  1.33141676e+00,  1.25100651e-01,
        -2.35158474e-01,  2.06674684e-01],
       [ 3.24232537e-01,  4.03076491e-01,  1.53187506e+00,
         3.23609223e-01,  5.54193682e-01],
       [ 6.41877048e-02,  6.91609626e-01, -1.47947149e+00,
         1.30751826e+00, -1.97541697e+00],
       [-2.03649475e-01, -5.48121669e-01, -1.24826086e+00,
         1.11326890e+00,  2.49356453e-01],
       [ 1.99066030e-01, -5.01823179e-01,  6.00169540e-01,
        -2.47785131e-02, -1.40996643e+00],
       [-1.22954912e-01, -4.01903720e-01,  1.79150959e+00,
        -6.30141558e-02,  5.76423391e-01],
       [ 2.45278510e-01,  1.84570436e+00, -7.29218375e-01,
         5.92136356e-01,  1.23098761e+00],
       [-1.00572330e+00,  1.33005717e+00,  3.98232049e-01,
        -6.26837446e-01,  1.19267129e+00],
       [-1.56943255e+00, -6.47060844e-01,  4.57485796e-01,
         1.84458851e-02, -3.75503583e-02],
       [ 2.77623186e-01, -1.23080524e+00, -3.00339070e-01,
        -6.83578654e-01,  1.20334534e+00],
       [-4.38498299e-01, -6.03694295e-01, -5.27505885e-01,
         1.91662201e-01, -2.34479891e-01],
       [ 8.30850646e-02,  6.06149867e-01,  1.58568077e+00,
        -1.50791773e+00,  6.19749242e-01],
       [ 5.62518824e-01,  1.67725244e+00,  7.81544204e-01,
        -7.25706737e-01, -8.63941094e-01],
       [ 9.44654088e-01,  9.61930356e-01, -1.58514492e+00,
        -6.59332244e-02,  6.89405641e-01],
       [ 2.23841781e-01, -1.28679563e+00, -1.73186519e-01,
         1.09549731e+00,  9.04507764e-01],
       [-1.04868949e-01, -2.12051835e-01,  2.94611422e-01,
         2.01678285e+00,  1.00083893e+00],
       [-8.07965332e-02, -6.54259551e-02, -6.31479233e-01,
        -5.13119711e-01,  5.08695640e-01],

In [14]:
df.head()

,Name,Age,Gender,JobRole,Experience,WorkHoursPerWeek,RemoteRatio,SatisfactionLevel,StressLevel,Burnout
0,Max Ivanov,32,Male,Analyst,3,60,21,4.40,1,0
1,Max Wang,40,Female,Engineer,9,47,67,2.09,2,0
2,Nina Petrov,33,Female,Engineer,2,44,20,2.58,3,0
3,John Ivanov,35,Female,Manager,6,44,70,3.23,8,0
4,John Wang,59,Male,Sales,8,38,46,4.41,1,0

In [15]:
df.tail()

,Name,Age,Gender,JobRole,Experience,WorkHoursPerWeek,RemoteRatio,SatisfactionLevel,StressLevel,Burnout
1995,Leo Brown,41,Female,Manager,4,63,17,3.40,4,0
1996,Alex Brown,23,Female,HR,2,39,20,4.67,9,0
1997,Nina Wang,31,Female,HR,10,39,4,4.10,4,0
1998,Kate Lee,25,Male,HR,0,40,57,2.11,4,0
1999,Lily Petrov,49,Female,Engineer,13,65,22,4.36,8,0

Summary in this file:-
                      this file is a